.container {
   
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    
}
.matchmaker{
    height: 100px;
    width: 100px;
}

.mainbackground{
    background-image: url(../photos/background-1.png);
    
}

.picture{
    float: left;
}

.title{
    float: right;
    font-weight: 800;
    color: whitesmoke;
}

.main-paragraph{
    padding: 25px;
    float: center;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
}

.top-bar{
    height: 5px;
    width: 2000px;
    color: black;
}

.input{
 width: 50%;
 height: 30px; 
}

.dropdown-question{

}

.dropdown-Answe{
 

}

.button{
    width: 30%;
    height: 30px;
    margin: 20px 0 0 0;

}